@page "/CalculoImc/Entenda"

<div class="container">
    <div class="OqIMC">
        <h2>  O que é IMC? </h2>
        <p>IMC é uma sigla e significa “Índice de Massa Corporal”. O IMC é uma das formas de avaliação corporal recomendada pela OMS (Organização Mundial de Saúde) para classificação do estado antropométrico, ou seja, da composição corporal do indivíduo. </p>
    </div>

    <div class="ParaQueServe">
        <h2>Para que serve o cálculo do Índice de Massa Corporal? </h2>
        <p>
            O IMC é um dos parâmetros utilizados para classificar a composição corporal de uma pessoa. Isso porque ele avalia se o peso está adequado para a estatura. Por isso, não é incomum que ele seja aferido durante exames de check-up, por exemplo.
            <br />
            Estudos científicos demonstram que os indivíduos que se afastam da faixa adequada ou recomendada do IMC, seja para mais ou para menos, apresentam maior risco de complicações para a saúde e também de mortalidade.
            <br />
            Embora seja uma ferramenta importante e reconhecida mundialmente, o IMC não informa sobre a circunferência abdominal, a distribuição da gordura corporal e a massa muscular.
            <br />
            Atualmente, essas medidas também são reconhecidas como informações relevantes e importantes para a análise de composição corporal por demonstrarem relação com o risco de problemas cardiovasculares e para a saúde em geral.
        </p>
    </div>

    <div class="ComoCalcular">
        <h2>Como calcular o IMC? </h2>
        <p>
            O IMC é calculado por meio da divisão do peso do indivíduo pela estatura, em metros, ao quadrado. De forma simplificada, temos: peso/(altura x altura).
            <br />
            Vamos a um exemplo prático: se uma mulher pesa 60 kg e tem 1.75 de altura, seu IMC será 19.59kg/m2. Portanto, como você pode conferir a seguir, ela apresenta peso adequado para a sua altura.
        </p>
    </div>

    <div class="Resultado">
        <h2> Resultado do IMC: como é feita a análise? </h2>

        <p>
            De acordo com a OMS, a classificação do IMC é feita de acordo com o resultado do cálculo e inclui as seguintes faixas:
            <br />
            <br />
            <strong> IMC 18,5kg /m2: baixo peso: </strong> É recomendado procurar um médico para avaliação criteriosa do resultado. Pode indicar um estado de consumo do organismo, com poucas reservas e riscos associados.
            <br />
            <strong> IMC 18,5 até 24,9kg/m2: peso adequado: </strong> Tudo indica que está tudo bem, mas é importante avaliar outros parâmetros da composição corporal, para compreender se estão dentro do recomendado. Algumas pessoas apresentam IMC dentro da normalidade, mas têm circunferência abdominal maior que a recomendada e/ou quantidade de massa gorda acima do ideal.
            <br />
            <strong> IMC ≥25 até 29,9kg/m2: sobrepeso: </strong> O sobrepeso está associado ao risco de doenças como diabetes e hipertensão. Então, atenção! Consulte um médico e reveja hábitos para reverter o quadro. Também é importante avaliar outros parâmetros, como a circunferência abdominal.
            <br />
            <strong> IMC de 30,0- 34,9kg/m2: </strong> obesidade grau I. É importante buscar orientação médica e nutricional para entender melhor o seu caso, mesmo que os exames (colesterol e glicemia, por exemplo) estejam normais.  <br />
            <strong> IMC de 35,0- 39,9kg/m2: </strong>  obesidade grau II. Indica um quadro de obesidade mais evoluído em relação à classificação anterior e, mesmo com exames laboratoriais dentro da normalidade, não se deve atrasar a busca por orientação médica e nutricional.
            <br />
            <strong> IMC ≥ 40,0kg/m2: obesidade grau III: </strong> Nesse ponto, a chance de já estarmos diante de outras doenças associadas é mais elevada. É fundamental buscar orientação médica.
        </p>
    </div>

</div>