@page "/"

<PageTitle>Home</PageTitle>

<h1> Desafio 02 </h1>

<p>
    Seja, Bem vindo(a)! <br />
    Está página foi desenvolvida durante o CarnaCode da Balta.io conheça mais sobre o projeto <a href="https://go.balta.io/carnacode-2024"> Clicando Aqui </a>
</p>
